@font-face {
    font-family: 'Mononoki NF';
    src: url('fonts/mononoki-NF.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
     url('fonts/mononoki-NF.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
  } 

body{
    background-color: #121212;
    max-width: 720px;
    margin: 0 auto;
    font-family: 'Mononoki NF', sans-serif;
}

body a{
    text-decoration: none;
    color: inherit;
}

.container{
    display: flex;
    flex-direction: column;
}

.center{
    margin: 0 auto;
}

.card{
    background-color: #7e57c2;
    border-radius: 25px;
    padding: 25px;
    height: fit-content;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;

}

.header{
    display: flex;
    flex-direction: row;
    padding: 0;
    align-items: center;
    height: 55px;
    top: -105px;
    position: relative;
}

.header .text{
    text-align: center;
    margin: 0 auto;
    font-size: 2em;
}

.round{
    border-radius: 50%;
}

.pfp img{
    height: 50px;
    /* margin: 5px; */
}

.pfp{
    height: 50px;
    margin: 2px;
    position: fixed;
}

.links{
    padding:0;
    padding-left: 25px;
    padding-right: 25px;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.16);
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    color: #FFFFFF;
}

.links .text{
    margin-bottom: 12px;
    margin-left: 10px;
    margin-right: 10px;
}

.links .text:hover{
    margin-bottom: 12px;
    margin-left: 10px;
    margin-right: 10px;
    color: #9575cd;
}

.links .separator:hover{
    color: #FFFFFF;
}

#about, #software, #links{
    display: none;
}

.content{
    background-color: rgba(255, 255, 255, 0.50);
}

.selected{
    color: #9575cd;
    font-weight: bold;
}

.text a{
    cursor: pointer;
}

.user{
    color: #673ab7;
}

.location{
    color: #ffeb3b;
}

.underscore{
    animation: blink 1s linear infinite;
}

@keyframes blink {
    50%{opacity: 0;}
}

.clear-list{
    list-style-type: none;
}

.toggle:hover{
    cursor: pointer;
}

#discord-user{
    color: #ffeb3b;
    transition: width 0.5s;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
}